<div>
  <% @user_posts.each do |post| %>
    <% if post.state != "pending" && current_user.role != "user" %>
      <% if post.state == "pending"  %>
        <div class="row posts-spacing">
          <div>
            <%= link_to post.post_approved, approved_post_path(post), class: "btn btn-success" %>

            <%= link_to post.post_rejected, rejected_post_path(post), class: "btn btn-warning" %>
          </div>
            <%= link_to image_tag("#{post.image}"), format_url(post.url), target: "blank" %>
            <h3> Title </h3>
            <%= link_to "#{post.title}", format_url(post.url), target: "blank" %>
            <h3> Description </h3>
            <%= post.content %>
            <h3> Keywords </h 3>
            <p>Maybe Add Keywords later</p>
        </div>
      <% end %>
    <% elsif post.state == "approved" %>
        <div class="row posts-spacing">
          <%= link_to image_tag("#{post.image}"), format_url(post.url), target: "blank" %>
          <h3> Title </h3>
          <%= link_to "#{post.title}", format_url(post.url), target: "blank" %>
          <h3> Description </h3>
          <%= post.content %>
          <h3> Keywords </h 3>
          <p>Maybe Add Keywords later</p>
        </div>

    <% end %>

  <% end %>
</div>
